@import url('https://fonts.googleapis.com/css?family=Oswald');



body {
    background-color: #262425;
    color: #e99c25;
    font-family: 'Oswald', sans-serif;
    font-size: 1.5em;
    margin-left: 10px;
}

main section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: .5em;

}

article {
    background: white;
    display: inline;
    float: left;
    margin: 0 20px 50px;
    padding: 10px 10px 25px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
    transition: all .15s linear;
    z-index: 0;
    position: relative;
}
header h1{
    text-decoration: none;
}

h1{
    text-align: center;
    text-decoration: underline;
}

section h2 {
    grid-column: 1/-1;
    text-transform: capitalize;
    text-align: center;


}

#modal {

    padding-top: 10vh;
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.7);


}

#modal aside {
    padding: 1em;
    padding-top: 10vh;
    width: 60vw;
    height: 50vh;
    margin: auto;
    background: #262425;

}

.modalpic {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.icons img {
    width: 100px;
}

article > img {
    width: 100%;
}

.price,
.discountprice {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0.5em;
    background: #262425;
}

.price {
    left: 0;
}

.discountprice {
    right: 0;
    background: black;
}

.hide {
    display: none;
}

.strike {
    text-decoration: line-through;
}



nav a {
    list-style-type: none;
    margin: 0;
    padding: 5px;
    padding-right: 5px;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 0.8em;

    color: orange;
}

nav a:hover {
    background-color: aliceblue;

}

ul{
    font-size: 0.8em;
    text-align: center;
    padding: 14px 16px;

}

li {
    float: left;
    list-style-type: none;

}

li a {

    font-size: 1em;
    color: orange;
    text-align: center;
    padding: 14px 16px;

}


li a:hover {
    background-color: black;
}

header {
    background-image: url(../img/pizza.jpg);
    background-size: cover;
    width: 100%;
    height: 200px;
    padding-bottom: 100px;
}

.logo{
    background: black;
    text-align: center;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.8);
}


button {
    background-color: orange;
    font-family: 'Rammetto One', sans-serif;
    border: none;
    color: black;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

.text {
    float: right;
    padding: 5px;
    margin-left: 100%;


}

@media (min-width: 700px) {
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

    }

}

@media (min-width: 900px) {
    main section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

}
